{% extends 'layout.html' %}

{% block content %}
{% load static %}



<div class="body container flex-grow-1 px-5 pt-2">
    <div class="container flex-grow-1 px-5 pt-2">

        <div class="d-flex py-2 justify-content-between mb-3 flex-wrap align-items-center">
            <h4 class="text-gray fw-bold p-0 m-0"> Reporte Consultas & Conincidencias </h4>

            <ul class="d-flex flex-row p-0 m-0 custom-breadcrumb">
                <li class="fw-bolder text-dark "><a href="/">Inicio</a></li>
                <li class="mx-2">|</li>
                <li class="fw-lighter">Reporte Consultas & Conincidencias
                </li>
            </ul>
        </div>


        <div class="card">
            <div class="card-body mt-2">
                <div class="row mb-3">

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="record-date">Fecha Desde <span
                                    class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="picker_date_start" required>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="form-label" for="record-date">Fecha Hasta<span
                                    class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="picker_date_end" required>
                        </div>
                    </div>
  
                </div>
            </div>

            <div class="card-footer d-flex justify-content-end bg-white flex-column ">
                <button style="width: 30%; margin-left: 70%;  " id="btn_delivery" class="btn btn-success"
                    type="submit">Generar Informe</button>
            </div>
        </div>
        <br>

        <div id="add_table_search" class="card d-flex justify-content-end bg-white flex-column ">
            <div id="add_table_loading" class="card-body mt-2"></div>


        </div>


    </div>
</div>



{% endblock %}

{% block imports %}

<script type="text/javascript" src="{% static 'js/report_C&C.js' %}"></script>

{% endblock %}
