{% load static %}
{% load helpers %}
<div id="mySidenav" class="sidenav">
    <div class="header px-3 mb-6 mt-4" style="margin-bottom: 40px;" >
        <img src="{% static '/img/logo.png' %}"  width="110">
    </div>

    <ul class="navbar-nav mb-2 px-3 gap-2">

        <li class="nav-item mx-2"><a id="home_page" class="nav-link" aria-current="page" 
            href="{% url  'home' %}"><i class="fa-solid fa-house-chimney"></i> Inicio</a>
        </li>

        <li class="nav-item mx-2"><a id="report_page" class="nav-link" aria-current="page" 
            href="/admin"><i class="fa-solid fa-user-shield"></i>
            </i>Admin</span></a>
        </li>

        <li class="nav-item mx-2"><a id="home_page" class="nav-link" aria-current="page" 
            href="{% url  'addList' %}"><i class="fa-solid fa-user-plus"></i></i> Agregar </a>
        </li>

        <li class="nav-item mx-2 ">
            <a id="consult_page" class="nav-link fw-bold" data-bs-toggle="collapse" href="#services-nomina" role="button" aria-expanded="false" aria-controls="services-nomina"><i class="fa-solid fa-list"></i> Consultas</a>

            <div class="collapse" id="services-nomina">
                <ul class="nested-list">
                    <li class="nav-item mx-2"><a id="list_page" class="nav-nested-link fs-6 fw-light" aria-current="page" 
                        href="{% url  'mass_query' %}"></i>- Consulta Masiva</a></li>
            
                    <li class="nav-item mx-2"><a id="list_page" class="nav-nested-link fs-6 fw-light" aria-current="page"
                        href="{% url  'consult_lists' %}"></i>- Consulta Individual</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item mx-2"><a id="report_page" class="nav-link" aria-current="page" 
            href="{% url  'report_CyC' %}">
            <i class="fa-solid fa-calendar-days"></i>

            </i>Reporte consultas & Coincidencias</span></a>
        </li>

    </ul>
</div>

